/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Bebas Neue';
    src: url(../assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'Courier Prime';
    src: url(../assets/fonts/Courier_Prime/CourierPrime-Bold.ttf);
}

.container-grid {
    margin: 0 auto;
    max-width: 1200px;
}

/* BODY */

body {
    background-color: #080324;
}

/* HEADER */

header {
    background-color: #f9003d;
}

.header-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
}

header div nav {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

header div nav a {
    color: white;
    /* margin-left: 70px;
    margin-right: 70px; */
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 1px 0px 5px rgb(184, 0, 0);
}

header div nav a:hover {
    text-shadow: 5px 5px 15px white;
}

/* BANNER */

.main-banner {
    height: 740px;
    background-image: url(../assets/imagem-fundo-banner.png);
    background-size: cover;
}

#layout-banner {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 136px;
}

.section-banner {
    color: white;
    z-index: 2;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 96px;
    color: white;
    border-bottom: 1px solid #ffaf00;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-decoration: none;
    line-height: 120px;
    padding-bottom: 15px;
    font-weight: 100;
}

h3 {
    font-family: 'Courier Prime', monospace;
    color: #F9003D;
    font-size: 53.2px;
    text-transform: uppercase;
    font-weight: 400;
}

.section-banner svg {
    margin-top: 30px;
    margin-left: 25px;
}

/* SEÇÃO SOBRE */

#section-sobre {
    height: 800px;
}

#layout-sobre {
    display: flex;
    justify-content: space-between;
}

#div-sobre-img {
    width: 43%;
}

#artigo-sobre {
    width: 55%;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    color: #FFAF00;
    font-size: 64px;
    font-weight: 100;
}

#titulo-sobre {
    color: #f9003d;
    padding-top: 60px;
    padding-bottom: 60px;
}


h4 {
    font-family: 'Courier Prime', monospace;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
}

.div-sobre h4 {
    padding-bottom: 25px;
}